.App {
  margin: 50px 100px;
  text-align: center;
}
.todo-list-container {
  padding: 0 10px;
  border: 1px black solid;
  border-radius: 15px;
  width: 80%;
  margin: auto;
}
ul {
  list-style-type: none;
}
.input-container {
  display: flex;
  justify-content: space-around;
}
.add-task-button {
  background-color: lightgreen;
}
li {
  border: 0.5px black solid;
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 1px 0;
}
.remove-button {
  margin: 2px;
  height: 80%;
}